.sliderContainerWrapper {
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.sliderContainer {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sliderContainerTop {
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.sliderContainerTop_left1 {
  padding-bottom: 0px;
}

.sliderContainerTop_left1_1 {
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.sliderContainerTop_left1_1_1 {
  color: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  padding: 0px;
}

.sliderContainerTop_right {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.leftArrowContainerWrapper {
  margin-right: 6px;
}

.leftArrowContainer {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  appearance: none;
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  margin: 0px;
  padding: 0px;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s;
  width: 32px;
  height: 32px;
}

.leftArrow {
  height: 10px;
  width: 10px;
  display: block;
  fill: currentcolor;
}

.rightArrowContainerWrapper {
  margin-left: 6px;
}

.rightArrowContainer {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  appearance: none;
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  margin: 0px;
  padding: 0px;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s;
  width: 32px;
  height: 32px;
}

.rightArrow {
  height: 10px;
  width: 10px;
  display: block;
  fill: currentcolor;
}

.sliderContainerBottom {
  margin-right: 0px;
  overflow-x: hidden;
  position: relative;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.slider {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  height: 100%;
  list-style: none;
  overflow: auto hidden;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 100%;
  scroll-snap-type: x mandatory;
}


